<template>
  <div id="container">
    <Textbox
      v-for="textbox of elements.textbox"
      :key="textbox.x"
      :x="textbox.x"
      :y="textbox.y"
      :text="textbox.text"
    />
  </div>
</template>

<script>
import Vue from "vue";
import Component from "vue-class-component";

import Textbox from "@/components/Textbox.vue";

@Component({
  components: {
    Textbox
  }
})
export default class Space extends Vue {
  elements = {
    textbox: [{ x: 100, y: 100, text: "Hello" }]
  };
}
</script>

<style></style>
