<template>
  <div id="text" v-bind:style="{ top: pos.y + 'px', left: pos.x + 'px' }">
    {{ text }}
  </div>
</template>

<script lang="ts">
import BaseItem from "@/components/BaseItem.ts";
import Component from "vue-class-component";
import Position from "@/interfaces/iSpace";
@Component({
  props: {
    x: Number,
    y: Number,
    text: String
  }
})
export default class Textbox extends BaseItem {
  pos: Position = {
    x: this.x,
    y: this.y
  };
}
</script>

<style>
#text {
  width: 150px;
  height: 150px;
  background-color: rgb(241, 123, 123);
  position: absolute;
}
</style>
